@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Ubuntu&display=swap");
/*
  Importing a font
*/

/*
  Setting the default padding, margin, and font as specific values
*/
* {
  padding: 0%;
  margin: 0%;
  font-family: "Ubuntu", sans-serif;
}
/*
  Setting the default text color and the background color for the webpages content
*/
body {
  background-color: #2b1c27;
  color: #fcfcfc;
}
/*
  Creating the seperate colored box for the header 
  and making the padding 20px to make it so i can center the text and the links
*/
header {
  background-color: #7a2f3e;
  padding: 20px;
}
/*
  Making the nav float on the right so its on the same line 
  as the logo and making the font margins and spacing readable
*/ 
nav {
  text-align: right;
  font-size: 24px;
  word-spacing: 25px;
  margin-top: 25px;
  margin-right: 25px;
  float: right;
}
/*
  Making the links not underlined and the same color as the valorant logo
*/
a {
  text-decoration: none;
  color: #ff4655;
}
/*
  Creating a margin for the logo to make it more visually appealing
*/
#logo {
  margin-left: 20px;
}
/*
  Simple padding and aligning the text
*/
h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/*
  Styling the class the allows the pictures to float 
  in the middle and making them all the same size
*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*
  The text size, width of the text, padding, centering of text, and word spacing all shown here
*/
p {
  font-size: 20px;
  width: 750px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 25px;
  word-spacing: 3px;
}
