@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Ubuntu&display=swap");
/*
  Importing a font
*/

/*
  Setting the default padding, margin, and font as specific values
*/
* {
  padding: 0%;
  margin: 0%;
  font-family: "Ubuntu", sans-serif;
}
/*
  Setting the default text color and the background color for the webpages content
  I'll be using a color scheme for this website that fits valorant so it mostly consists of deep reds and purples
*/
body {
  background-color: #2b1c27;
  color: #fcfcfc;
}
/*
  Creating the seperate colored box for the header 
  and making the padding 20px to make it so i can center the text and the links
*/
header {
  background-color: #7a2f3e;
  padding: 20px;
  position: sticky;
  top: 0px;
}
/*
  Making the nav float on the right so its on the same line 
  as the logo and making the font margins and spacing readable
*/
nav {
  text-align: right;
  font-size: 24px;
  word-spacing: 25px;
  margin-top: 25px;
  margin-right: 25px;
  float: right;
}
/*
  Making the links not underlined and the same color as the valorant logo
*/
a {
  text-decoration: none;
  color: #fcfcfc;
}

/*
  Animation that makes the bottom of the header have this cool light up effect when hovering a link
  originally i wanted it under the links but i made a mistake and made this, corrected it, then went back
  to this because i prefered the look of this one.
*/
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fcfcfc;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

@media screen and (max-height: 300px) {
	a {
		margin-top: 40px;
	}
}
/*
  Creating a margin for the logo to make it more visually appealing
*/
#logo {
  margin-left: 20px;
}
/*
  Simple padding and aligning the text as well as a margin to add more space between elements 
*/
h1 {
  margin-top: 15px;
  margin-bottom: 8px;
  padding-top: 20px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 36px;
}
/*
  Styling the class the allows the pictures to float 
  in the middle and making them all the same size
  Making the header stick to the top so you can acess links anytime

*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}
/*
  The text size, width of the text, padding, centering of text, and word spacing all shown here
  Font and word spacing are large enough to improve readability of the content
  the margin, padding, and text allignment will let it sit in the middle with a similar width to the images 
*/
p {
  font-size: 20px;
  width: 750px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 25px;
  word-spacing: 5px;
  margin-bottom: 15px;
}
